In [16]:

from pyspark.sql import SparkSession
import sqlite3
import pandas as pd

def incremental_load():
    conn = sqlite3.connect('../../../Customers_ELT.db')
    cursor = conn.cursor()
    try:
        # EXTRACT (Loading CSVs from S3 or local storage)
        customers = pd.read_csv("../../../Customer.csv")
        invoices = pd.read_csv("../../../Invoice.csv")
        invoice_lines = pd.read_csv("../../../InvoiceLine.csv")

        # Check if the 'customer_loyalty' table exists
        cursor.execute("""
             SELECT name FROM sqlite_master WHERE type='table' AND name='customer_loyalty_and_invoice_size_ELT';
         """)
        table_exists = cursor.fetchone()

        # If the table exists, get the latest processed updated_at from the customer_loyalty table
        if table_exists:
            latest_updated_at_query = "SELECT MAX(updated_at) FROM customer_loyalty_and_invoice_size_ELT"
            cursor.execute(latest_updated_at_query)
            last_updated  = cursor.fetchone()[0]

        if not table_exists or last_updated  is None:
            last_updated  = '1900-01-01 00:00:00'  # Default to a very old timestamp
#         print(last_updated)
#         last_updated = pd.to_datetime(last_updated)
#         print(last_updated)
#         # Filter rows that have been created or updated after the last load
#         customers_filtered = customers[pd.to_datetime(customers['UpdatedAt']) > last_updated]
#         invoices_filtered = invoices[pd.to_datetime(invoices['UpdatedAt']) > last_updated]
#         invoice_lines_filtered = invoice_lines[pd.to_datetime(invoice_lines['UpdatedAt']) > last_updated]
#         print(customers_filtered,invoices_filtered, invoice_lines_filtered)
#         # Load filtered data into temporary tables

        last_updated = pd.to_datetime(last_updated)
        print(f"last_updated: {last_updated}")

        # Convert 'UpdatedAt' to datetime format, assuming format is MM/DD/YYYY
        customers['UpdatedAt'] = pd.to_datetime(customers['UpdatedAt'], format='%m/%d/%Y', errors='coerce')
        invoices['UpdatedAt'] = pd.to_datetime(invoices['UpdatedAt'], format='%m/%d/%Y', errors='coerce')
        invoice_lines['UpdatedAt'] = pd.to_datetime(invoice_lines['UpdatedAt'], format='%m/%d/%Y', errors='coerce')

        # Print first few rows to check the dates
#         print(customers['UpdatedAt'].head())
#         print(invoices['UpdatedAt'].head())
#         print(invoice_lines['UpdatedAt'].head())

        # Filter rows that have been created or updated after the last load
        customers_filtered = customers[customers['UpdatedAt'] > last_updated]
        invoices_filtered = invoices[invoices['UpdatedAt'] > last_updated]
        invoice_lines_filtered = invoice_lines[invoice_lines['UpdatedAt'] > last_updated]

        # Print filtered data to verify
        print("Filtered Customers:")
        print(customers_filtered)
        print("Filtered Invoices:")
        print(invoices_filtered)
        print("Filtered Invoice Lines:")
        print(invoice_lines_filtered)
        
        
        customers_filtered.to_sql('Customers_temp', conn, if_exists='replace', index=False)
        invoices_filtered.to_sql('Invoices_temp', conn, if_exists='replace', index=False)
        invoice_lines_filtered.to_sql('Invoices_Line_temp', conn, if_exists='replace', index=False)

        # Save historical data for customers to be updated (loyalty_score, avg_invoice_size, created_at)
        conn.execute("""DROP TABLE IF EXISTS customers_old_data_temp""")
        conn.execute("""
            CREATE TABLE customers_old_data_temp AS
            SELECT CustomerId, loyalty_score, avg_invoice_size, created_at
            FROM customer_loyalty_and_invoice_size_ELT
            WHERE CustomerId IN (SELECT CustomerId FROM Customers_temp)
        """)
        conn.commit()

        # Remove the existing rows from the target table for customers being updated
        conn.execute("""
            DELETE FROM customer_loyalty_and_invoice_size_ELT
            WHERE CustomerId IN (SELECT CustomerId FROM Customers_temp)
        """)
        conn.commit()

        # TRANSFORM (Perform transformations and combine with old data)
        transform_query = """
            INSERT INTO customer_loyalty_and_invoice_size_ELT 
            (CustomerId, FirstName, LastName, loyalty_score, avg_invoice_size, created_at, updated_at, updated_by)
            SELECT 
                C.CustomerId,
                C.FirstName,
                C.LastName,
                COALESCE(O.loyalty_score, 0) + COUNT(I.InvoiceId) AS loyalty_score,  -- Combine old and new loyalty score
                (
                    (COALESCE(O.loyalty_score, 0) * COALESCE(O.avg_invoice_size, 0)) + SUM(IL.total_spend)
                ) / NULLIF(COALESCE(O.loyalty_score, 0) + COUNT(I.InvoiceId), 0) AS avg_invoice_size,  -- Combine old and new avg invoice size
                COALESCE(O.created_at, CURRENT_TIMESTAMP) AS created_at,  -- Retain old created_at or set to current
                CURRENT_TIMESTAMP AS updated_at,
                'process:SL' AS updated_by
            FROM 
                Customers_temp C
            LEFT JOIN Invoices_temp I ON C.CustomerId = I.CustomerId
            LEFT JOIN (
                SELECT InvoiceId, SUM(UnitPrice * Quantity) AS total_spend
                FROM Invoices_Line_temp
                GROUP BY InvoiceId
            ) IL ON I.InvoiceId = IL.InvoiceId
            LEFT JOIN customers_old_data_temp O ON C.CustomerId = O.CustomerId
            GROUP BY 
                C.CustomerId, C.FirstName, C.LastName;
        """

        # Execute the transformation query
        conn.execute(transform_query)
        # Commit the changes to the database
        conn.commit()

    finally:
        # Clean up temporary tables
        conn.execute("DROP TABLE IF EXISTS Customers_temp")
        conn.execute("DROP TABLE IF EXISTS Invoices_temp")
        conn.execute("DROP TABLE IF EXISTS Invoices_Line_temp")
        conn.execute("DROP TABLE IF EXISTS customers_old_data_temp")
        conn.commit()

        # Close the SQLite connection
        conn.close()


incremental_load()

last_updated: 2024-09-14 21:29:40
Filtered Customers:
Empty DataFrame
Columns: [CustomerId, FirstName, LastName, Company, Address, City, State, Country, PostalCode, Phone, Fax, Email, SupportRepId, UpdatedAt]
Index: []
Filtered Invoices:
     InvoiceId  CustomerId       InvoiceDate  \
225        226          40  21/09/2023 00:00
226        227          44  22/09/2023 00:00
227        228          50  25/09/2023 00:00
256        257          34  01/02/2024 00:00
257        258          48  09/02/2024 00:00
258        259          49  22/02/2024 00:00
285        286          23  12/06/2024 00:00
286        287          24  25/06/2024 00:00
287        288          26  25/06/2024 00:00
316        317           3  28/10/2024 00:00
317        318           7  29/10/2024 00:00
318        319          13  01/11/2024 00:00
346        347          47  05/03/2025 00:00
347        348          56  10/03/2025 00:00
348        349          11  18/03/2025 00:00
377        378          46  02/08/2025 00:00
378        379          48  02/08/2025 00:00
379        380          50  03/08/2025 00:00
407        408          25  05/12/2025 00:00
408        409          29  06/12/2025 00:00
409        410          35  09/12/2025 00:00

                               BillingAddress   BillingCity BillingState  \
225                            8, Rue Hanovre         Paris          NaN
226                           Porthaninkatu 9      Helsinki          NaN
227                        C/ San Bernardo 85        Madrid          NaN
256                        Rua da Assunção 53        Lisbon          NaN
257                     Lijnbaansgracht 120bg     Amsterdam           VV
258                              Ordynacka 10        Warsaw          NaN
285                           69 Salem Street        Boston           MA
286                     162 E Superior Street       Chicago           IL
287                       2211 W Berry Street    Fort Worth           TX
316                         1498 rue Bélanger      Montréal           QC
317      Rotenturmstraße 4, 1010 Innere Stadt        Vienne          NaN
318                              Qe 7 Bloco G      Brasília           DF
346                    Via Degli Scipioni, 43          Rome           RM
347                        307 Macacha Güemes  Buenos Aires          NaN
348                        Av. Paulista, 2022     São Paulo           SP
377                          3 Chatham Street        Dublin       Dublin
378                     Lijnbaansgracht 120bg     Amsterdam           VV
379                        C/ San Bernardo 85        Madrid          NaN
407                     319 N. Frances Street       Madison           WI
408                    796 Dundas Street West       Toronto           ON
409  Rua dos Campeões Europeus de Viena, 4350         Porto          NaN

    BillingCountry BillingPostalCode  Total  UpdatedAt
225         France             75002   3.96 2024-10-01
226        Finland               530   5.94 2024-11-01
227          Spain             28015   8.91 2024-12-01
256       Portugal               NaN  13.86 2024-10-02
257    Netherlands              1016   0.99 2024-11-02
258         Poland            00-358   1.98 2024-12-02
285            USA              2113   0.99 2024-10-03
286            USA             60611   1.98 2024-11-03
287            USA             76110   1.98 2024-12-03
316         Canada           H2G 1A7   3.96 2024-10-04
317        Austria              1010   5.94 2024-11-04
318         Brazil         71020-677   8.91 2024-12-04
346          Italy               192   8.91 2024-10-05
347      Argentina              1106  13.86 2024-11-05
348         Brazil         01310-200   0.99 2024-12-05
377        Ireland               NaN   1.98 2024-10-06
378    Netherlands              1016   1.98 2024-11-06
379          Spain             28015   3.96 2024-12-06
407            USA             53703   3.96 2024-10-07
408         Canada           M6J 1V1   5.94 2024-11-07
409       Portugal               NaN   8.91 2024-12-07
Filtered Invoice Lines:
      InvoiceLineId  InvoiceId  TrackId  UnitPrice  Quantity  UpdatedAt
225             226         41     1390       0.99         1 2024-10-01
226             227         42     1391       0.99         1 2024-11-01
227             228         42     1392       0.99         1 2024-12-01
256             257         47     1554       0.99         1 2024-10-02
257             258         47     1563       0.99         1 2024-11-02
...             ...        ...      ...        ...       ...        ...
2231           2232        411     3100       0.99         1 2029-08-07
2232           2233        411     3109       0.99         1 2029-09-07
2233           2234        411     3118       0.99         1 2029-10-07
2234           2235        411     3127       0.99         1 2029-11-07
2235           2236        411     3136       0.99         1 2029-12-07

[696 rows x 6 columns]

In [39]:
conn = sqlite3.connect('../../../Customers_ELT.db')
cursor = conn.cursor()

# Query to check if a row with the given CustomerId exists
check_query = "SELECT * FROM customer_loyalty_and_invoice_size_ELT"

# Execute the query with the specific CustomerId
cursor.execute(check_query)

# Fetch all rows from the result set
results = cursor.fetchall()

# Print each row
for row in results:
    print(row)

# print(result)

(1, 'Luís', 'Gonçalves', 10, 5.660000000000001, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(2, 'Leonie', 'Köhler', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(3, 'François', 'Tremblay', 7, 5.659999999999999, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(4, 'Bjørn', 'Hansen', 7, 5.659999999999999, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(5, 'František', 'Wichterlová', 7, 5.802857142857143, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(6, 'Helena', 'Holý', 7, 7.088571428571427, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(7, 'Astrid', 'Gruber', 7, 6.088571428571428, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(8, 'Daan', 'Peeters', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(9, 'Kara', 'Nielsen', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(10, 'Eduardo', 'Martins', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(11, 'Alexandre', 'Rocha', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(12, 'Roberto', 'Almeida', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(13, 'Fernanda', 'Ramos', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(14, 'Mark', 'Philips', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(15, 'Jennifer', 'Peterson', 7, 5.517142857142858, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(16, 'Frank', 'Harris', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(17, 'Jack', 'Smith', 7, 5.660000000000001, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(18, 'Michelle', 'Brooks', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(19, 'Tim', 'Goyer', 7, 5.517142857142858, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(20, 'Dan', 'Miller', 7, 5.659999999999999, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(21, 'Kathy', 'Chase', 7, 5.374285714285714, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(22, 'Heather', 'Leacock', 7, 5.660000000000001, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(23, 'John', 'Gordon', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(24, 'Frank', 'Ralston', 7, 6.231428571428571, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(25, 'Victor', 'Stevens', 7, 6.088571428571428, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(26, 'Richard', 'Cunningham', 7, 6.802857142857142, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(27, 'Patrick', 'Gray', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(28, 'Julia', 'Barnett', 7, 6.231428571428572, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(29, 'Robert', 'Brown', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(30, 'Edward', 'Francis', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(31, 'Martha', 'Silk', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(32, 'Aaron', 'Mitchell', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(33, 'Ellie', 'Sullivan', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(34, 'João', 'Fernandes', 7, 5.660000000000001, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(35, 'Madalena', 'Sampaio', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(36, 'Hannah', 'Schneider', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(37, 'Fynn', 'Zimmermann', 7, 6.231428571428571, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(38, 'Niklas', 'Schröder', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(39, 'Camille', 'Bernard', 7, 5.517142857142858, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(40, 'Dominique', 'Lefebvre', 7, 5.517142857142858, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(41, 'Marc', 'Dubois', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(42, 'Wyatt', 'Girard', 7, 5.659999999999999, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(43, 'Isabelle', 'Mercier', 7, 5.802857142857143, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(44, 'Terhi', 'Hämäläinen', 7, 5.945714285714287, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(45, 'Ladislav', 'Kovács', 7, 6.517142857142857, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(46, 'Hugh', "O'Reilly", 7, 6.517142857142856, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(47, 'Lucas', 'Mancini', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(48, 'Johannes', 'Van der Berg', 7, 5.8028571428571425, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(49, 'Stanisław', 'Wójcik', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(50, 'Enrique', 'Muñoz', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(51, 'Joakim', 'Johansson', 7, 5.517142857142858, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(52, 'Emma', 'Jones', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(53, 'Phil', 'Hughes', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(54, 'Steve', 'Murray', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(55, 'Mark', 'Taylor', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(56, 'Diego', 'Gutiérrez', 7, 5.3742857142857146, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(57, 'Luis', 'Rojas', 7, 6.659999999999999, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(58, 'Manoj', 'Pareek', 7, 5.517142857142858, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')
(59, 'Puja', 'Srivastava', 6, 6.1066666666666665, '2024-09-14 22:16:05', '2024-09-14 22:16:05', 'process:SL')

In [38]:
from pyspark.sql import SparkSession
import sqlite3  # Assuming you're using sqlite3
import pandas as pd

def load():

    conn = sqlite3.connect('../../../Customers_ELT.db')

    try:
        # EXTRACT (Loading CSVs from S3 or local storage)
        # -----------------------------------------------
        customers = pd.read_csv("../../../Customer.csv")
        invoices = pd.read_csv("../../../Invoice.csv")
        invoice_lines = pd.read_csv("../../../InvoiceLine.csv")


        # LOAD (Save the raw data into SQLite without transformation)
        # -----------------------------------------------------------------------
        # Load raw data into SQLite
        customers.to_sql('Customers', conn, if_exists='replace', index=False)
        invoices.to_sql('Invoices', conn, if_exists='replace', index=False)
        invoice_lines.to_sql('Invoices_Line', conn, if_exists='replace', index=False)

        # TRANSFORM (Perform transformations with SQL queries using KT_DB functions)
        # -------------------------------------------------------------------------
        drop_query="""DROP TABLE IF EXISTS customer_loyalty_and_invoice_size_ELT"""
        conn.execute(drop_query)
        conn.commit()

        transform_query = """
            CREATE TABLE customer_loyalty_and_invoice_size_ELT AS 
            SELECT 
                C.CustomerId,
                C.FirstName,
                C.LastName,
                COUNT(I.InvoiceId) AS loyalty_score,
                AVG(IL.total_spend) AS avg_invoice_size,
                CURRENT_TIMESTAMP AS created_at,
                CURRENT_TIMESTAMP AS updated_at,
                'process:SL' AS updated_by
            FROM 
                Customers C
            LEFT JOIN Invoices I ON C.CustomerId = I.CustomerId
            LEFT JOIN (
                SELECT InvoiceId, SUM(UnitPrice * Quantity) AS total_spend
                FROM Invoices_Line
                GROUP BY InvoiceId
            ) IL ON I.InvoiceId = IL.InvoiceId
            GROUP BY 
                C.CustomerId, C.FirstName, C.LastName;
        """

        # Execute the transformation query
        conn.execute(transform_query)
        # Commit the changes to the database
        conn.commit()

    finally:
        # Close the SQLite connection and stop Spark session
        conn.close()  # Close the SQLite connection
        
load()

In [31]:
from pyspark.sql import SparkSession
import sqlite3
import pandas as pd

def incremental_load():
    conn = sqlite3.connect('../../../Customers_ELT.db')
    cursor = conn.cursor()
    
    try:
        # EXTRACT (Loading CSVs from local storage)
        customers = pd.read_csv("../../../Customer.csv")
        invoices = pd.read_csv("../../../Invoice.csv")
        invoice_lines = pd.read_csv("../../../InvoiceLine.csv")

        # Check if the 'customer_loyalty' table exists
        cursor.execute("""
            SELECT name FROM sqlite_master WHERE type='table' AND name='customer_loyalty_and_invoice_size_ELT';
        """)
        table_exists = cursor.fetchone()

        # If the table exists, get the latest processed updated_at from the customer_loyalty table
        if table_exists:
            latest_updated_at_query = "SELECT MAX(updated_at) FROM customer_loyalty_and_invoice_size_ELT"
            cursor.execute(latest_updated_at_query)
            last_updated = cursor.fetchone()[0]

        if not table_exists or last_updated is None:
            last_updated = '1900-01-01 00:00:00'  # Default to a very old timestamp
            
        # Convert last_updated to a datetime object
        last_updated = pd.to_datetime(last_updated)
        print(f"Last Updated: {last_updated}")

        # Convert 'UpdatedAt' columns in CSVs to datetime, assuming format is DD/MM/YYYY
        customers['UpdatedAt'] = pd.to_datetime(customers['UpdatedAt'], dayfirst=True, errors='coerce')
        invoices['UpdatedAt'] = pd.to_datetime(invoices['UpdatedAt'], dayfirst=True, errors='coerce')
        invoice_lines['UpdatedAt'] = pd.to_datetime(invoice_lines['UpdatedAt'], dayfirst=True, errors='coerce')

        # Filter rows that have been created or updated after the last load
        customers_filtered = customers[customers['UpdatedAt'] > last_updated]
        invoices_filtered = invoices[invoices['UpdatedAt'] > last_updated]
        invoice_lines_filtered = invoice_lines[invoice_lines['UpdatedAt'] > last_updated]

        # Load filtered data into temporary tables
        customers_filtered.to_sql('Customers_temp', conn, if_exists='replace', index=False)
        invoices_filtered.to_sql('Invoices_temp', conn, if_exists='replace', index=False)
        invoice_lines_filtered.to_sql('Invoices_Line_temp', conn, if_exists='replace', index=False)

        # Save historical data for customers to be updated (loyalty_score, avg_invoice_size, created_at)
        conn.execute("""DROP TABLE IF EXISTS customers_old_data_temp""")
        conn.execute("""
            CREATE TABLE customers_old_data_temp AS
            SELECT CustomerId, loyalty_score, avg_invoice_size, created_at
            FROM customer_loyalty_and_invoice_size_ELT
            WHERE CustomerId IN (SELECT CustomerId FROM Customers_temp)
        """)
        conn.commit()

        # Remove the existing rows from the target table for customers being updated
        conn.execute("""
            DELETE FROM customer_loyalty_and_invoice_size_ELT
            WHERE CustomerId IN (SELECT CustomerId FROM Customers_temp)
        """)
        conn.commit()

        # TRANSFORM (Perform transformations and combine with old data)
        transform_query = """
            INSERT INTO customer_loyalty_and_invoice_size_ELT 
            (CustomerId, FirstName, LastName, loyalty_score, avg_invoice_size, created_at, updated_at, updated_by)
            SELECT 
                C.CustomerId,
                C.FirstName,
                C.LastName,
                COALESCE(O.loyalty_score, 0) + COUNT(I.InvoiceId) AS loyalty_score,  -- Combine old and new loyalty score
                (
                    (COALESCE(O.loyalty_score, 0) * COALESCE(O.avg_invoice_size, 0)) + SUM(IL.total_spend)
                ) / NULLIF(COALESCE(O.loyalty_score, 0) + COUNT(I.InvoiceId), 0) AS avg_invoice_size,  -- Combine old and new avg invoice size
                COALESCE(O.created_at, CURRENT_TIMESTAMP) AS created_at,  -- Retain old created_at or set to current
                CURRENT_TIMESTAMP AS updated_at,
                'process:SL' AS updated_by
            FROM 
                Customers_temp C
            LEFT JOIN Invoices_temp I ON C.CustomerId = I.CustomerId
            LEFT JOIN (
                SELECT InvoiceId, SUM(UnitPrice * Quantity) AS total_spend
                FROM Invoices_Line_temp
                GROUP BY InvoiceId
            ) IL ON I.InvoiceId = IL.InvoiceId
            LEFT JOIN customers_old_data_temp O ON C.CustomerId = O.CustomerId
            GROUP BY 
                C.CustomerId, C.FirstName, C.LastName;
        """

        # Execute the transformation query
        conn.execute(transform_query)
        # Commit the changes to the database
        conn.commit()

    finally:
        # Clean up temporary tables
        conn.execute("DROP TABLE IF EXISTS Customers_temp")
        conn.execute("DROP TABLE IF EXISTS Invoices_temp")
        conn.execute("DROP TABLE IF EXISTS Invoices_Line_temp")
        conn.execute("DROP TABLE IF EXISTS customers_old_data_temp")
        conn.commit()

        # Close the SQLite connection
        conn.close()
incremental_load()

Last Updated: 2024-09-14 21:58:31

In [23]:
#efrat's code

In [37]:
import sqlite3
import pandas as pd

def load():
    conn = sqlite3.connect('../../../Customers_ELT.db')
    cursor = conn.cursor()
    
    try:
        # EXTRACT (Loading CSVs from local storage)
        customers = pd.read_csv("../../../Customer.csv")
        invoices = pd.read_csv("../../../Invoice.csv")
        invoice_lines = pd.read_csv("../../../InvoiceLine.csv")

        # Check if the 'customer_loyalty' table exists
        cursor.execute("""
            SELECT name FROM sqlite_master WHERE type='table' AND name='customer_loyalty_and_invoice_size_ELT';
        """)
        table_exists = cursor.fetchone()

        # If the table exists, get the latest processed updated_at from the customer_loyalty table
        if table_exists:
            latest_updated_at_query = "SELECT MAX(updated_at) FROM customer_loyalty_and_invoice_size_ELT"
            cursor.execute(latest_updated_at_query)
            last_updated = cursor.fetchone()[0]
        else:
            last_updated = None

        if not last_updated:
            last_updated = '1900-01-01 00:00:00'  # Default to a very old timestamp

        # Convert last_updated to a datetime object
        last_updated = pd.to_datetime(last_updated)
        print(f"Last Updated: {last_updated}")

        # Convert 'UpdatedAt' columns in CSVs to datetime, assuming format is DD/MM/YYYY
        customers['UpdatedAt'] = pd.to_datetime(customers['UpdatedAt'], dayfirst=True, errors='coerce')
        invoices['UpdatedAt'] = pd.to_datetime(invoices['UpdatedAt'], dayfirst=True, errors='coerce')
        invoice_lines['UpdatedAt'] = pd.to_datetime(invoice_lines['UpdatedAt'], dayfirst=True, errors='coerce')

        # Filter rows that have been created or updated after the last load
        customers_filtered = customers[customers['UpdatedAt'] > last_updated]
        invoices_filtered = invoices[invoices['UpdatedAt'] > last_updated]
        invoice_lines_filtered = invoice_lines[invoice_lines['UpdatedAt'] > last_updated]

        # Load filtered data into temporary tables
        customers_filtered.to_sql('Customers_temp', conn, if_exists='replace', index=False)
        invoices_filtered.to_sql('Invoices_temp', conn, if_exists='replace', index=False)
        invoice_lines_filtered.to_sql('Invoices_Line_temp', conn, if_exists='replace', index=False)

        # Save historical data for customers to be updated (loyalty_score, avg_invoice_size, created_at)
        conn.execute("""DROP TABLE IF EXISTS customers_old_data_temp""")
        conn.execute("""
            CREATE TABLE customers_old_data_temp AS
            SELECT CustomerId, loyalty_score, avg_invoice_size, created_at
            FROM customer_loyalty_and_invoice_size_ELT
            WHERE CustomerId IN (SELECT CustomerId FROM Customers_temp)
        """)
        conn.commit()

        # Remove the existing rows from the target table for customers being updated
        conn.execute("""
            DELETE FROM customer_loyalty_and_invoice_size_ELT
            WHERE CustomerId IN (SELECT CustomerId FROM Customers_temp)
        """)
        conn.commit()

        # TRANSFORM (Insert or update existing records with new data)
        transform_query = """
            INSERT INTO customer_loyalty_and_invoice_size_ELT 
            (CustomerId, FirstName, LastName, loyalty_score, avg_invoice_size, created_at, updated_at, updated_by)
            SELECT 
                C.CustomerId,
                C.FirstName,
                C.LastName,
                COALESCE(O.loyalty_score, 0) + COUNT(I.InvoiceId) AS loyalty_score,  -- Combine old and new loyalty score
                (
                    (COALESCE(O.loyalty_score, 0) * COALESCE(O.avg_invoice_size, 0)) + SUM(IL.total_spend)
                ) / NULLIF(COALESCE(O.loyalty_score, 0) + COUNT(I.InvoiceId), 0) AS avg_invoice_size,  -- Combine old and new avg invoice size
                COALESCE(O.created_at, CURRENT_TIMESTAMP) AS created_at,  -- Retain old created_at or set to current
                CURRENT_TIMESTAMP AS updated_at,
                'process:SL' AS updated_by
            FROM 
                Customers_temp C
            LEFT JOIN Invoices_temp I ON C.CustomerId = I.CustomerId
            LEFT JOIN (
                SELECT InvoiceId, SUM(UnitPrice * Quantity) AS total_spend
                FROM Invoices_Line_temp
                GROUP BY InvoiceId
            ) IL ON I.InvoiceId = IL.InvoiceId
            LEFT JOIN customers_old_data_temp O ON C.CustomerId = O.CustomerId
            GROUP BY 
                C.CustomerId, C.FirstName, C.LastName;
        """

        # Execute the transformation query
        conn.execute(transform_query)
        # Commit the changes to the database
        conn.commit()

    finally:
        # Clean up temporary tables
        conn.execute("DROP TABLE IF EXISTS Customers_temp")
        conn.execute("DROP TABLE IF EXISTS Invoices_temp")
        conn.execute("DROP TABLE IF EXISTS Invoices_Line_temp")
        conn.execute("DROP TABLE IF EXISTS customers_old_data_temp")
        conn.commit()

        # Close the SQLite connection
        conn.close()


load()

Last Updated: 2024-09-14 21:58:31